{% extends 'base.html' %}

{% block content %}
 <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Shane's Musical Artifacts</h1>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">About</h2>
          <p class="text-white-50">A Marketplace for all sorts of musical oddities that I have collected over the years. The pool of items for sale is updated weekly, so make sure to check back each weekly for the latest gems. Most of the items I sell are one offs, so don't miss your chance!</p>
        </div>
      </div>
      <img src="static/img/RAFA_master4.jpg" class="img-fluid" alt="">
    </div>
    <br>
  </section>

  <!-- Projects Section -->
  <section id="projects" class="projects-section ">
    <div class="container">
      <h2 class="text-white mb-4">Current Items</h2>

      {% for product in products %} {% if forloop.counter0|divisibleby:"2" != 0 %}
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0 img-cont bg-black">
        <div class="col-lg-6">
          <img class="img-fluid pro-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="">
        </div>
        
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">{{ product.name }}</h4>
                <p class="mb-0 text-white-50">{{ product.description }}</p>
                <div class="row">
                  <div class="col-8">
                    <p class="mb-0 price">€{{ product.price }}</p>
                  </div>
                  <div class="col-4">
                    <form method="post" action="{% url 'add_to_cart' product.id %}" class="add-div">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="1" value="1" class="form-control" placeholder="Quantity" style="display: none;">
                            <span class="input-group-btn">
                                <button class="btn btn-primary qadd" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                  </div>
                </div>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0 img-cont bg-black">
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">{{ product.name }}</h4>
                <p class="mb-0 text-white-50">{{ product.description }}</p>
                <div class="row">
                  <div class="col-8">
                    <p class="mb-0 price">€{{ product.price }}</p>
                  </div>
                  <div class="col-4">
                    <form method="post" action="{% url 'add_to_cart' product.id %}" class="add-div">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity" type="number" min="1" max="1" value="1" class="form-control" placeholder="Quantity" style="display: none;">
                            <span class="input-group-btn">
                                <button class="btn btn-primary qadd" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                  </div>
                </div>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-6">
          
          <img class="img-fluid pro-img" src="{{ MEDIA_URL }}{{ product.image }}" alt="">
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-envelope fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary qbutton mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">
      <div class="col-md-10 col-lg-8 mx-auto text-center">
        <h2 class="text-white mb-5">Get in Touch!</h2>
      </div>
      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Monavalley Industrial Estate,<br>Tralee, Co. Kerry</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">shanesMA@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50"> (+353)85-6254557</div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}