#profile-p{
    margin: 0px;
}

#mainNav {
    min-height: 56px;
    background-color: rgba(0,0,0,0);
}

#mainNav .navbar-brand{
    color:rgba(255, 255, 255, 0.9);
}

#mainNav.navbar-shrink .navbar-brand {
    color:rgba(0, 0, 0, 0.9);
}

#mainNav .nav-link{
    color:rgba(255, 255, 255, 0.9);
}


#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #C57400;
  border: 1px solid #C58444;
}

#mainNav.navbar-shrink {
    background-color: rgba(255,255,255,0.85);
  }
.projects-section{
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
}

#mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
}

  #mainNav.navbar-shrink .nav-link:hover {
    color: #C58444;
  }


#mainNav.navbar-shrink .nav-link.active {
    color: #C58444;
    outline: none;
    border-bottom: 0.25rem solid #C58444;
}

.masthead h1{
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4));
    -webkit-background-clip: text;
}

.btn-primary {
    background-color: #C58444;
}
.btn-primary:hover {
  background-color: #bbbbbb;
  color: black;
}
.text-primary {
  color: #C58444 !important ;
}

.contact-section .card hr {
    border-color: #C58444;
}

.projects-section .project-text hr {
    border-color: #C58444;
    border-width: .25rem;
    width: 30%;
}

.contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #C58444;
}


.project-text{
    padding: 5px;
}

.qadd{
    background-color: #C58444;
    padding:10px 15px;
}

.qbutton{
    background-color: #C58444;
}

.qcheckout{
    background-color: #ffffff;
    color: #000000;
    margin-left: 25px;
    padding:10px 15px;
}
.add-div{
    display: inline;
}

.price{
    font-size: 20px;
    font-weight: bold;
    color: #C58444;
}

.fform{

background-color: rgba(255,255,255,0.1);
border:1px solid white;
border-radius: 3px;
padding: 5px;

}

@media (min-width: 992px){
.projects-section .project-text {
    padding: 5px;
}
}

a:focus, a:hover {
  text-decoration: none;
  color: #C58444;
}