{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<section  class="contact-section bg-black">
    <div class="container">
    <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform text-white">
        <fieldset class="form-group">
            <legend>Login</legend>
            {% csrf_token %}
            {{ user_form | as_bootstrap }}
            
             <p><a class=" text-primary"href="{% url 'password_reset' %}">Forgot my password</a></p>
             
            <button type="submit" class="btn btn-primary qadd">Login</button>
        </fieldset>
    </form>
{% endblock %}
